@use 'variables';

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$bg-color;
  height: 100vh;
  display: grid;
  place-content: center;
}

body,
button {
  font-family: 'Roboto', sans-serif;
  color: variables.$text-color;
  border: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  .timer-wrapper,
  #sounds {
    display: grid;
    justify-items: center;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 8rem;
  }
}

footer {
  position: absolute;
  bottom: 2rem;

  p {
    font-size: 1.4rem;

    a {
      font-weight: bold;
      text-decoration: none;
      color: variables.$primary-color;
    }
  }
}

.flex {
  display: flex;
}
