.flex {
  display: flex;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

html.light #sounds button {
  &:hover {
    color: var(--sounds-text-color);
  }
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
  display: none;
}
